body {
	background-color: unset;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.bg-yellow { background-color: #FFDC00; }
.bg-blue { background-color: #0074D9; }
.bg-red { background-color: #FF4136; }

#logo-name {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 3px;
    border: 3px solid #FFF;
    padding: 2px 6px;
    font-size: 1.85em;
    margin: 0.3em 1em 0.3em 0;
}

.top-menu {
	background: #313131;
	padding: 0;
}

.navbar-toggler-icon {
	color: #FFF;
	font-size: 30px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#menu-container ul li a {
	padding: 1.4em .5rem;
    color: #efefef;
}

#menu-container ul li a:hover,
#menu-container ul li a.active {
	cursor: pointer;
	text-decoration: none;
}

#menu-container ul li a.me:hover,
#menu-container ul li a.me.active {
	border-bottom: 4px solid #FFDC00; 
	border-top: 4px solid #FFDC00;
}

#menu-container ul li a.portfolio:hover,
#menu-container ul li a.portfolio.active {
	border-bottom: 4px solid #0074D9; 
	border-top: 4px solid #0074D9;
}

#menu-container ul li a.contact:hover,
#menu-container ul li a.contact.active {
	border-bottom: 4px solid #FF4136; 
	border-top: 4px solid #FF4136;
}

h2.section-title {
	margin: 0 0 20px 0;
	font-size: 3em;
}

#me {
    padding: 100px 0;
	color: #FFFFFF;
	background: url(../img/image.jpg) no-repeat center / cover; 
}

	#me h1 {
		font-weight: bold;
		font-size: 4rem;
	}

	#me p {
		font-size: 1.5rem;
		font-family: 'Raleway', 'Helvetica', sans-serif;
	}

#portfolio, #contact {
	padding: 30px 0px 0px;
}

#portfolio #projects .row {
	margin: 0;
}

.box {
	height: 300px;
	padding: 0;
	overflow: hidden;
	/*width: 33.3333%;*/
}
	.box img {
		width: 100%;
	}

#contact {
	padding-bottom: 30px;
}

.links a {
	color: #313131;
	margin: 0px 20px;
}

#contact form .form-control:focus {
	border-color: #a22c29;
}

#contact-submit {
	font-weight: bold;
}

	#contact-submit:hover {
		cursor: pointer;
		background-color: #b9baa3;
	}

.linkedin i:hover { color: #0077B5 }
.email i:hover { color: #FF4136 }
.github i:hover { color: #0366d6 }

footer {
	padding: 30px 0px 0px;
	background-color: #DDDDDD;
}

@media (max-width: 576px) {
	#me h1 {
	    font-weight: bold;
	    font-size: 3.5rem;
	}
}